@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Ubuntu:wght@400;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%; /* 1rem = 10px */
  --title-font: 'Ubuntu', sans-serif;
  --text-font: 'Roboto', sans-serif;

  --title: hsla(260, 43%, 23%);
  --text: hsla(240, 8%, 46%);
  --button: hsla(148, 59%, 50%);
  --button-hover: hsla(148, 59%, 45%);
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: hsl(0, 0%, 90%);
}

.wrapper {
  width: min(50rem, 100%);
  margin-inline: auto;
  padding-inline: 2rem;
}

a {
  text-decoration: none;
}

header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

header .logo img {
  width: 10rem;
}

header a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
  font-family: var(--text-font);
  font-weight: 700;
}

header a img {
  width: 1.5rem;
}

.content h1 {
  font-family: var(--title-font);
  font-size: 3.5rem;
  line-height: 4.5rem;
  color: var(--title);
  text-align: center;
  margin-bottom: 2rem;
}

.content p {
  font-family: var(--text-font);
  font-size: 1.5rem;
  line-height: 2rem;
  color: var(--text);
  text-align: center;
  margin-bottom: 2rem;
}

.img-background {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.img-background img {
  width: 20rem;
}

.button {
  width: min(25rem, 100%);
  display: flex;
  align-items: center;
  background-color: var(--button);
  border-radius: 1rem;
  margin-inline: auto;
}

.button a {
  font-family: var(--text);
  font-size: 1.2rem;
  font-weight: 700;
  color: white;
  margin-inline: auto;
}

.button .img {
  padding: 2rem;
  background-color: var(--button-hover);
  border-radius: 1rem 0 0 1rem;
}
.button img {
  width: 2rem;
}
