#page-home {
  height: 100vh;
  background: url('../assets/home-background.svg');
  background-position: 45vw bottom;
  background-repeat: no-repeat;
  background-size: 70rem;
}

#page-home .content {
  width: 90%;
  max-width: 110rem;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

#page-home header {
  margin-top: 4.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#page-home header a {
  display: flex;
  color: var(--title);
  font-weight: 700;
}

#page-home header a span {
  margin-right: 1.6rem;
  display: flex;
  background-image: url('../assets/log-in.svg');
  width: 2rem;
  height: 2rem;
}

#page-home main {
  max-width: 56rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#page-home main h1 {
  font-size: 5.4rem;
}

#page-home main p {
  font-size: 2.4rem;
  line-height: 3.8rem;
  margin-top: 2.4rem;
  color: var(--text);
}

#page-home main a {
  width: 100%;
  max-width: 36rem;
  height: 7.2rem;
  border-radius: 0.8rem;
  display: flex;
  align-items: center;
  margin-top: 4rem;
  background-color: var(--button);
  transition: 400ms;
}

#page-home main a:hover {
  background-color: var(--button-hover);
}

#page-home main a span {
  width: 7.2rem;
  height: 7.2rem;
  border-top-left-radius: 0.8rem;
  border-bottom-left-radius: 0.8rem;
  background-color: rgba(0, 0, 0, 0.08);
  display: flex;
  align-items: center;
  justify-content: center;
}

#page-home main a span::after {
  content: '';
  background-image: url('../assets/search.svg');
  width: 2rem;
  height: 2rem;
}

#page-home main a strong {
  flex: 1;
  color: white;
  text-align: center;
  font-size: 1.5rem;
}
